@font-face {
  font-family: "Nerd Fonts";
  src: url(./fonts/Symbols-2048-em\ Nerd\ Font\ Complete.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: #00b894;
}

header h1 {
  height: 60px;
  text-align: center;
  padding-top: 10px;
  color: #fab1a0;
  background-color: #6c5ce7;
}

main {
  margin: 0 10px;
}

section {
  margin: 20px 0;
}

menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
}

menu li h2 {
  font-family: "Mitr", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 3px 1px 2px black;
}
/*category font color */
menu li:nth-child(1) h2 {
  color: #ffeaa7;
}

menu li:nth-child(2) h2 {
  color: #ff7675;
}
menu li:nth-child(3) h2 {
  color: #a29bfe;
}

menu li input[type="checkbox"] {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  cursor: pointer;
}

menu li input[type="checkbox"]:checked {
  outline: 2px solid white;
}

/*The parent checkbox-placeholder class */
div.checkbox-placeholder {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
}

div.checkbox-placeholder::before {
  content: "";
  position: absolute;
  z-index: auto;
  display: inline-block;
  height: 30px;
  width: 30px;
}

div.checkbox-category::before {
  background-color: #ebbc27;
}

div.checkbox-blacklist::before {
  background-color: #ff4000;
}
div.checkbox-language::before {
  background-color: #665dde;
}

menu li label {
  font-size: 20px;
  font-weight: bold;
  font-family: "Mitr", sans-serif;
  color: whitesmoke;
}

div#figures-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  border: 5px solid #74b9ff;
  background-color: #74b9ff;
}

div#figures-box figure {
  position: relative;
  flex-basis: 150px;
  flex-grow: 1;
  padding: 20px;
  background-color: #0984e3;
  cursor: pointer;
}

div#figures-box figure img {
  display: block;
  margin: 0 auto;
  width: 100%;
  /*Don't grow beyond the intrinsic value of img.*/
  max-width: 128px;
}

div#figures-box figure h3 {
  text-align: center;
  color: #ffeaa7;
  margin-top: 10px;
}

#figures-box figure div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #74b9ff;
  opacity: 70%;
}

#jokes-criteria {
  display: flex;
  gap: 45px;
}

#jokes-criteria div {
  flex-basis: 300px;
}

#jokes-criteria label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Mitr", sans-serif;
  text-shadow: 2px 2px 5px black;
  color: #d4ecff;
}

#jokes-criteria div.search-icon-box {
  position: relative;
}
/*This div wraps around my input in order to put icon in*/
#jokes-criteria div.search-icon-box::before {
  content: "\f002";
  position: absolute;
  font-family: "Nerd Fonts";
  font-size: 35px;
  width: 45px;
  height: 45px;
  top: 0;
  left: 5px;
}

#jokes-criteria input[type="text"] {
  height: 45px;
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  font-weight: 300;
  background-color: #81ecec;
  color: #2d3436;
}

#jokes-search-input {
  width: 100%;
  padding-left: 55px;
}

#jokes-count-input,
#jokes-available-input {
  width: 50%;
  text-align: center;
}

#get-jokes-criteria {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#get-jokes-criteria input {
  align-content: center;
  color: #ffffff;
  font-size: 35px;
  font-family: "Mitr", sans-serif;
  background-color: #6c5ce7;
  border-radius: 0.5em;

  height: 60px;
  width: 300px;
  cursor: pointer;
}

@media (width < 745px) {
  #jokes-criteria label {
    font-size: 18px;
  }
}

@media (width < 580px) {
  menu {
    justify-content: space-around;
    gap: 5px;
  }
  #jokes-criteria {
    flex-wrap: wrap;
    gap: 10px;
  }
  #jokes-criteria div:nth-child(2),
  #jokes-criteria div:nth-child(3) {
    flex-basis: 150px;
    flex-grow: 1;
  }

  #get-jokes-criteria input {
    width: 80%;
  }
}
